<div>
  <h2>
    <span id="health-page-heading" jhiTranslate="health.title" data-cy="healthPageHeading">Health Checks</span>

    <button class="btn btn-primary float-end" (click)="refresh()">
      <fa-icon icon="sync"></fa-icon> <span jhiTranslate="health.refresh.button">Refresh</span>
    </button>
  </h2>

  <div class="table-responsive">
    <table id="healthCheck" class="table table-striped" aria-describedby="health-page-heading">
      <thead>
        <tr>
          <th scope="col" jhiTranslate="health.table.service">Service name</th>
          <th scope="col" class="text-center" jhiTranslate="health.table.status">Status</th>
        </tr>
      </thead>
      <tbody *ngIf="health">
        <tr *ngFor="let componentHealth of health.checks">
          <td>
            <span>{{ componentHealth.name }}</span>
          </td>
          <td class="text-center">
            <span
              class="badge"
              [ngClass]="getBadgeClass(componentHealth.status)"
              jhiTranslate="{{ 'health.status.' + componentHealth.status }}"
            >
              {{ componentHealth.status }}
            </span>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
